img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.button {
    cursor: pointer;
}

#gallery {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0; 

    list-style: none;
}

.gallery-item {
    height: 200px;
  }

.gallery-item:not(:last-child) {
    margin-right: 10px;
}

#counter {
    padding-top: 40px;
    padding-bottom: 40px;
}

#validation-input {
    border: 3px solid #f7efef;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#validation-input.invalid {
    border-color: #c21407;
}

#validation-input.valid {
    border-color: #07e20f;
}

#font-size-control {
    display: block;
}

#controls {
    padding-top: 40px;
    padding-bottom: 40px;
}